* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}
.container-page {
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
  padding: 0px 16px;
}
.container-page > div {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 9;
  padding: 20px 0px;
}

.cheque {
  width: 300px;
  border: 2px solid #000;
  padding: 16px;
  font-size: 16px;
}